@font-face {
  font-family: 'Filson Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Regular'), url('../fonts/FilsonProRegular.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Regular Italic'), url('../fonts/FilsonProRegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Thin';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Thin'), url('../fonts/FilsonProThin.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Thin Italic'), url('../fonts/FilsonProThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Light';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Light'), url('../fonts/FilsonProLight.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Light Italic'), url('../fonts/FilsonProLightItalic.woff') format('woff');
}


@font-face {
  font-family: 'Filson Pro Book';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Book'), url('../fonts/FilsonProBook.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Book Italic'), url('../fonts/FilsonProBookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Medium';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Medium'), url('../fonts/FilsonProMedium.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Medium Italic'), url('../fonts/FilsonProMediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Bold'), url('../fonts/FilsonProBold.woff') format('woff');
}


@font-face {
  font-family: 'Filson Pro Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Bold Italic'), url('../fonts/FilsonProBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Filson Pro Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Heavy'), url('../fonts/FilsonProHeavy.woff') format('woff');
}


@font-face {
  font-family: 'Filson Pro Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Heavy Italic'), url('../fonts/FilsonProHeavyItalic.woff') format('woff');
}


@font-face {
  font-family: 'Filson Pro Black';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Black'), url('../fonts/FilsonProBlack.woff') format('woff');
}


@font-face {
  font-family: 'Filson Pro Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Filson Pro Black Italic'), url('../fonts/FilsonProBlackItalic.woff') format('woff');
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Filson Pro Book", sans-serif;
  background: #FAFDFF;
  color: #222;
  font-weight: 200;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: #9b9b9b;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #000;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}